[workspace]
authors = ["Pedro <contact@phvv.me>"]
channels = ["conda-forge", "robostack", "bioconda", "cuda", "nvidia", "pypi"]
name = "dotfiles"
platforms = ["linux-64", "linux-aarch64", "osx-arm64"]
version = "0.1.0"

[dependencies]
aria2 = ">=1.37.0,<2"
bat = ">=0.26.0,<0.27"
btop = ">=1.4.5,<2"
chezmoi = ">=2.66.2,<3"
# coreutils = ">=9.5,<10"
dust = ">=1.2.3,<2"
eza = ">=0.23.4,<0.24"
fd-find = ">=10.3.0,<11"
fzf = ">=0.66.0,<0.67"
gh = ">=2.82.1,<3"
hyperfine = ">=1.19.0,<2"
imagemagick = ">=7.1.2_6,<8"
ipython = ">=9.6.0,<10"
lazygit = ">=0.55.1,<0.56"
mask = ">=0.11.6,<0.12"
# mosh = ">=1.4.0,<2"
nodejs = ">=24.4.1,<24.10"
nvim = ">=1.11.4,<0.12"
nvitop = ">=1.5.3,<2"
pandoc = ">=3.8.2.1,<4"
python = ">=3.14.0,<3.15"
ripgrep = ">=15.0.0,<16"
ripgrep-all = ">=0.10.9,<0.11"
ruby = ">=3.4.7,<4"
rust = ">=1.90.0,<1.91"
speedtest-cli = ">=2.1.3,<3"
starship = ">=1.21.1,<2"
uv = ">=0.9.5,<0.10"
xh = ">=0.25.0,<0.26"
# zoxide = ">=0.9.8,<0.10"
parallel = ">=20250822,<20250823"
ffmpeg = ">=8.0.0,<9"
